.dropdown-toggle{
	margin: -10px;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {	
   background-color: rgba(255,255,255,.15)
}

p{
	overflow-wrap:break-word;
}

.col-md-3{
	background-color: lightblue;
	border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-color: lightgrey;
    border-radius: 5px;

}

@media (min-width: 768px) {
  .navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
	margin-top: 10px;
  }
}

hr{
	border-color: lightgrey;
}

.col-md-6{
	background-color: lightblue;
	border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-color: lightgrey;
    border-radius: 5px;
}

.comment{
	border-radius: 5px;
	background-color: #F2F2F2;
	border: solid lightgrey;
	padding: 10px;
  margin-bottom: 10px;
  min-height: 75px;
}

.barraDerecha{
  border-radius: 5px;
  background-color: #F2F2F2;
  border: solid lightgrey;
  margin-bottom: 10px;
  min-height: 75px;
}
body{
	background-color: #F2F2F2;
}

.container-fluid{
	background-color: #F2F2F2;
}

.perfil{
    float: right;
    margin-right: 20px;
  }

  .photoProfile{
    float: left;
  }
  .post .readMore{
    text-align: right;
    margin-top: -20px;
  }

  #btnFoll{
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 6px;
  }
  #btnRM{
    background-color: transparent;
    color: grey;

  }
  .col-md-3{
  	padding: 15px;
  }


  #body{
  	height: 60px;
  }
  

  #posts{
  	margin-left: 10px;
  	margin-right: 5px;
    background-color: lightblue

  }
  #profile{
  	margin-left: -20px;
  }

  #photoProfile{
    padding: 0 !important;
  }

  #info{
    background-color: #F2F2F2;
    border: solid lightgrey;
    border-radius: 5px;
    position: relative;
    margin-top: 15%;
    margin-left: -11%;
    width: 150px;

  }

  #info h4{
    font-weight: bold;
    font-size: 16px;
  }
